services:
  - type: web
    name: funstudy-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: AWS_REGION
        value: eu-north-1
      - key: COGNITO_USER_POOL_ID
        sync: false
      - key: COGNITO_CLIENT_ID
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false